<div class="view-all-projects">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#by_title" aria-controls="by_title" role="tab" data-toggle="tab" >By Title</a></li>
      <li role="presentation"><a data-target="#created_by" data-toggle="tab">By Date</a></li>
      <li role="presentation"><a data-target="#updated_by" data-toggle="tab">Last Updated</a></li>
    </ul>

    <div class="tab-content">
      <!-- DEFAULT BY TITLE -->
      <div role="tabpanel" class="tab-pane active" id="by_title">
          <ul class="list-group list-unstyled">
            <% if @projects.empty? %>
            <li class="list-group-item">No projects.</li>
            <% end %>
            <% @projects.sort_by {|obj| obj.title }.each do |project| %>
            <li>
              <%= link_to project.title,  project_path(project), class:"list-group-item" %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe, project,
              method: :delete, data: { confirm: 'Are you sure?' }, class: "remove-btn btn" %>
            </li>
            <% end %>
          </ul>
      </div>

      <!-- CREATED BY  -->
      <div role="tabpanel" class="tab-pane" id="created_by">
        <ul class="list-group list-unstyled">
            <% if @projects.empty? %>
          <li class="list-group-item">No projects.</li>
            <% end %>
            <% @projects.sort_by {|obj| obj.created_at }.reverse.each do |project| %>
          <li>
                <%= link_to project.title + ' (' + project.created_at.strftime("%b %-d, %Y %r")+')',  project_path(project),class:"list-group-item" %>
                <%= link_to '<i class="fa fa-remove"></i>'.html_safe, project,
                method: :delete, data: { confirm: 'Are you sure?' }, class: "remove-btn btn btn-link" %>
          </li>
          <% end %>
          </ul>
      </div>

      <!-- UPDATED BY  -->
      <div role="tabpanel" class="tab-pane" id="updated_by">
          <ul class="list-group list-unstyled">
            <% if @projects.empty? %>
              <li class="list-group-item">No projects.</li>
            <% end %>
            <% @projects.sort_by {|obj| obj.updated_at }.reverse.each do |project| %>
            <li>
              <%= link_to project.title + ' (' + project.updated_at.strftime("%b %-d, %Y %r")+')',  project_path(project),class:"list-group-item" %>
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe, project,
                  method: :delete, data: { confirm: 'Are you sure?' }, class: "remove-btn btn" %>
            </li>
            <% end %>
          </ul>
      </div>
    </div><!-- tab-content -->
</div><!-- view-all-projects -->