    <ul class="list-group list-unstyled">
      <li class="list-group-item header">
        <h4 class="project-title"><%= link_to @project.title, edit_project_path(@project) %> </h4>
      </li>
      <% if @project.items.empty? %>
      <li class="list-group-item">
        <div class="alert alert-info">
          <p>There are no items to list.
          <%= link_to '<i class="fa fa-plus"></i> add new item'.html_safe, new_project_item_path(project), :class => "btn btn-default text-right" %></p>
        </div>
      </li>
    <% else %>

    <% @project.items.each do |item| %>
      <li class="list-group-item <%= "#{item.done? ? 'done' : 'not-done'}" %>">
        <% unless item.done? %>
          <%= link_to '<i class="fa fa-square-o"></i>'.html_safe,
                { :controller => :items, :action => :update,
                  :id => item.id, :project_id => @project.id,
                  :item => { :done => true } },
                { :method => :patch } %>
        <% end %>
        <% unless !item.done? %>
          <%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe, edit_project_item_path(@project, item) %>
        <% end %>
        <%= link_to item.action, edit_project_item_path(@project, item) %>
        
      </li>
    <% end %>
      <li class="list-group-item add-new-item text-right"> <%= link_to '<i class="fa fa-plus"></i> Add New Item...'.html_safe, new_project_item_path(project) %></li>
    </ul>

    <%= link_to '<i class="fa fa-eraser"></i> Clear Completed Items'.html_safe, clear_project_path(project),
          :method => :delete, :id => "clearer" %>

  <% end %>
