<h4>Project: <%= @project.title %></h4>
<%= form_for([@project, @item], :url => { :action => :update }) do |f| %>
  <% if @item.errors.any? %>
    <div id="notice" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="error_explanation">
        <% @item.errors.full_messages.each do |msg| %>
          <i class="fa fa-warning "></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :action, 'What needs to get done?' %><span class="text-muted"> (edit item)</span><br>
    <%= f.text_field :action, :size => "80", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :done, 'Is this item completed?  Click the box if yes.&nbsp;'.html_safe %>
    <%= f.check_box :done %>
  </div>

  <ul class="list list-unstyled list-inline">
    <li><div class="actions"><%= f.submit :class => "btn btn-warning" %></div></li>
    <li><%= link_to 'cancel', @project, class: "btn btn-default" %></li>

  </ul>
<% end %>
